# Time Series Operations

Time series include the date and time for every record and can fetch the records of dataframe. We can find out the data  within a certain range of date and time by using pandas module named Time series

In [8]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:01:00',
               '2022-10-01 00:02:00', '2022-10-01 00:03:00',
               '2022-10-01 00:04:00', '2022-10-01 00:05:00',
               '2022-10-01 00:06:00', '2022-10-01 00:07:00',
               '2022-10-01 00:08:00', '2022-10-01 00:09:00',
               ...
               '2022-10-31 23:51:00', '2022-10-31 23:52:00',
               '2022-10-31 23:53:00', '2022-10-31 23:54:00',
               '2022-10-31 23:55:00', '2022-10-31 23:56:00',
               '2022-10-31 23:57:00', '2022-10-31 23:58:00',
               '2022-10-31 23:59:00', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=44641, freq='T')

In [22]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
df = pd.DataFrame(time, columns=['DateTime'])
print(df)

                 DateTime
0     2022-10-01 00:00:00
1     2022-10-01 00:01:00
2     2022-10-01 00:02:00
3     2022-10-01 00:03:00
4     2022-10-01 00:04:00
...                   ...
44636 2022-10-31 23:56:00
44637 2022-10-31 23:57:00
44638 2022-10-31 23:58:00
44639 2022-10-31 23:59:00
44640 2022-11-01 00:00:00

[44641 rows x 1 columns]

In [27]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start ='10/1/2022', end ='11/1/2022',freq ='Min')
df = pd.DataFrame(time, columns=['DateTime'])
df['DATA'] = np.random.randint(0,100,size=(len(time)))
print(df)
#df.head()
df.head(20)

                 DateTime  DATA
0     2022-10-01 00:00:00    93
1     2022-10-01 00:01:00    17
2     2022-10-01 00:02:00    86
3     2022-10-01 00:03:00    47
4     2022-10-01 00:04:00    16
...                   ...   ...
44636 2022-10-31 23:56:00    91
44637 2022-10-31 23:57:00     3
44638 2022-10-31 23:58:00    60
44639 2022-10-31 23:59:00    92
44640 2022-11-01 00:00:00    94

[44641 rows x 2 columns]

              DateTime  DATA
0  2022-10-01 00:00:00    93
1  2022-10-01 00:01:00    17
2  2022-10-01 00:02:00    86
3  2022-10-01 00:03:00    47
4  2022-10-01 00:04:00    16
5  2022-10-01 00:05:00     0
6  2022-10-01 00:06:00    65
7  2022-10-01 00:07:00     1
8  2022-10-01 00:08:00    35
9  2022-10-01 00:09:00    40
10 2022-10-01 00:10:00    61
11 2022-10-01 00:11:00    19
12 2022-10-01 00:12:00     3
13 2022-10-01 00:13:00    68
14 2022-10-01 00:14:00    99
15 2022-10-01 00:15:00    28
16 2022-10-01 00:16:00    23
17 2022-10-01 00:17:00    85
18 2022-10-01 00:18:00    51
19 2022-10-01 00:19:00    38